node_modules
vendor
.env
.env.*
storage/*.key
storage/*.log
storage/debugbar
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
Dockerfile
.git
.gitignore
.gitattributes
npm-debug.log
yarn-error.log
*.md
tests
.idea
.vscode
*.sqlite
*.swp
*.swo
*.swn
*.bak
*.zip
*.tar
*.gz
public/build/*
public/mix-manifest.json
README.md
docs/